<!-- 1 mjs y correo -->

<section>
    <h1>Contacto</h1>
    <p>Puedes comunicarte con nosotros a través del correo
        <a href="mailto:de.la.taes@gmail.com">de.la.taes@gmail.com</a>.</p>
</section>