<!--define el contenido que mostrará en body -->
<section>
    <h1>Bienvenidos a mi sitio web</h1>
    <p>Este es un sitio de ejemplo utilizando de como usar layouts en EJS con `express-ejs-layouts`.</p>
</section>
